#body {
    background-image: url("hm8md.png");
    background-repeat: no-repeat;
    background-color: #000;
    background-size: contain;
    background-position: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    height: 100%;
}

h1 {
    text-align: center;
}

div.jumbotron {
    margin-top: 130px;
    width: 100%;
    min-height: 370px;
    background: rgba(238, 238, 238, 0.8);
    border: #c0c0c0 outset 3px;
    font-family: 'Audiowide', cursive;
    /* font-family: 'Orbitron', sans-serif; */
    font-weight: bold;
}

.desc {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 7px;
}

label {
    margin-left: 5px;
}

input {
    padding-bottom: 10px;
    border-width: 0px;
    border: none;
    background-color: #eee;
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.1), 0 8px 13px rgba(0, 0, 0, 0.0), 0 15px 13px rgba(0, 0, 0, 0.0);
    width: 100%;
    /* background: transparent; */
    border-radius: 7px;
    font-family: 'Audiowide', cursive;
}

input:focus {
    display: inline;
    outline: none;
}

#save {
    color: rgb(110, 20, 20);
    font-size: 40px;
    /* font-weight: bolder; */
    border-width: 0px;
    border: none;
    background-color: #eee;
    background: transparent;
    /* margin-left: 45%; */
    margin-bottom: -5px;
}

#save:hover {
    color: rgb(220, 24, 100);
}

#save:active {
    color: rgb(30, 62, 112);
    ;
}

.inputColor {
    background-color: #fff;
}